node_modules/
frontend/uploads/
dummy.mp4
Attendance Report 2.pdf
logo (1).png
.env

.vercel
.env*
backend/*.json

# Firebase credentials and keys
*firebase-adminsdk*.json
firebaseServiceAccount.json
firebase-config.json
frontend/firebase-init.js
scraped_site/
